---
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'
import Layout from '../layouts/Layout.astro'
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className='flex h-svh max-w-3xl flex-col justify-center'>
  <main class='space-y-4'>
    <img src='/logo.png' class='mx-auto w-3/4' />
    <div
      id='statuscafe'
      class='ml-auto w-fit rounded-md border-bgdefault dark:border-fontdefault
      p-3 transition-colors duration-300'>
      <div class='text-center'>
        --- <div
          id='statuscafe-content'
          class='inline text-sm font-mono leading-relaxed text-zinc-900 dark:text-zinc-100'>
          👋 hi，今日饮点咩呀
        </div>
      </div>
    </div>
  </main>
</Layout>
